/** Main styling for portfolio **/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: #06131c;
    color: #d6cece;
}
/** Start of styling for Header **/
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background: transparent;
}

.logo{
    font-size: 25px;
    color: #d6cece;
    text-decoration: none;
    font-weight: 600;
}

.navbar a{
    font-size: 20px;
    color: #d6cece;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .2s;
}

.navbar a:hover,
.navbar a.active{
    color: rgb(83, 83, 178);
}

/** End of styling for Header **/

/** Start of styling for hompage content **/
.home{
    display: flex;
    align-items: center;
    height: 100vh;
    padding:0 10%;
}

.home-cnt{
    max-width: 600px;
}

.home-cnt h1{
    font-size: 56px;
    font-weight: 700;
}

.home-cnt h3{
    font-size: 35px;
    font-weight: 600;
    color: rgb(83, 83, 178);
}

.home-cnt p{
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.home-cnt .btn-box{
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
}

.btn-box a{
    position: relative;
    width: 150px;
    height: 100%;
    background: rgb(83, 83, 178);
    border: 2px solid rgb(83, 83, 178);
    border-radius: 15px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}
.btn-box a:hover{
    color: rgb(83, 83, 178);
}
.btn-box :nth-child(2){
    background: transparent;
    color: rgb(83, 83, 178);
}

.btn-box :nth-child(2):hover{
    color: #06131c;
}
.btn-box :nth-child(2)::before{
    background: rgb(83, 83, 178);
}

.btn-box a::before{
    content:'';
    position: absolute;
    background: #06131c;
    top: 0;
    left: 0;
    width:0;
    height: 100%;
    z-index: -1;
    transition: .5s;

}

.btn-box a:hover::before{
    width: 100%;

}
.pic-box{
    display: inline-flex;
    width: 420px;
    height: 420px;
    margin-left:80px;
    margin-top: 90px;
    
}

.picture{
    border-radius: 250px;
}

.home-smi{
    position: absolute;
    width: 150px;
    bottom: 40px;


}

.home-smi a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    background: transparent;
    border: 2px solid rgb(83, 83, 178);
    border-radius: 50%;
    text-decoration: none;
    color:rgb(83, 83, 178);
}


/** End of styling for hompage content **/

/** Start of styling for contact page content **/
.contact{
    height: 100vh;
}

.contact-intro{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45vh;
    color: rgb(83, 83, 178);
}

.contact-intro h1{
    font-size: 56px;
    font-weight: 700;

}

.contact-cards{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    padding: 0 25%;
}

.contact-cards h2{
    color: rgb(83, 83, 178);
}

.contact-details h3{
    text-decoration: none;
}
/** End of styling for contact page content **/


/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: rgb(83, 83, 178);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: rgb(83, 83, 178);
  }
  
  /* Add a background color and some padding around the form */
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin-left: 380px;
    margin-bottom: 30px;
    max-width: 500px;
  }


.footer{
    display: flex;
    justify-content: center;
    color: #f2f2f2;
    background: #040f16;
}

#footer{
    margin-top: 90vh;
}

#header{
    position: relative;
}