<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Link to main CSS file of webpage -->
    <link rel="stylesheet" href="../assets/css/main.css" type ="text/css">
    <!-- Link for usage of icons as css from boxicons.com-->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <!-- Title of Landing Page-->
    <title>Kasonde Besa | Contact</title>

</head>
<body>
      <!-- Beginning of a header information-->
      <header class="header" id="header">
        <a href="../index.html" class="logo">Kasonde Besa.</a>
        <nav class="navbar">
            <a href="../index.html" class="active">Home</a>
            <a href="#">About</a>
            <a href="#">Projects</a>
            <a href="#">Education</a>
            <a href="#">Contact</a>
        </nav>
    </header>
    <!-- End of Header information -->

    <main>
        <section class="contact">
            <div class="contact-intro">
                <h1>Get in Touch!</h1>     
            </div>
            <div class="container">
                <form action="action_page.php">
              
                  <label for="fname">First Name</label>
                  <input type="text" id="fname" name="firstname" placeholder="Your name..">
              
                  <label for="lname">Last Name</label>
                  <input type="text" id="lname" name="lastname" placeholder="Your last name..">
              
                  <label for="country">Country</label>
                  <select id="country" name="country">
                    <option value="australia">Australia</option>
                    <option value="canada">Canada</option>
                    <option value="usa">USA</option>
                    <option value="usa">Zambia</option>

                  </select>
              
                  <label for="subject">Subject</label>
                  <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>
              
                  <input type="submit" value="Submit">
              
                </form>
            </div>
            <div class="contact-cards">
                <div class="contact-details">
                    <h2><i class='bx bx-book-bookmark'></i>CONTACTS</h2>
                    <h3><i class='bx bx-phone'></i> +260 770 589 095</h3>
                    <h3><i class='bx bxl-whatsapp' ></i> +260 951 260 555</h3>
                    <h3><i class='bx bx-envelope'></i> besakasonde@gmail.com</h3>
                    <h3>
                        <a href="https://github.com/KayBesa"><i class='bx bxl-github'></i></a>
                        <a href="https://www.linkedin.com/in/kasonde-besa-15000a9b"><i class='bx bxl-linkedin-square' ></i></a>
                        <a href="#"><i class='bx bxl-meta'></i></a>
                        <a href="https://x.com/i/flow/login?redirect_after_login=%2Fchinilyka"><i class='bx bxl-twitter' ></i></a>
                        <a href="https://www.instagram.com/kasondebesa/"><i class='bx bxl-instagram' ></i></a>
                    </h3>
                </div>
                <div class="location">
                    <h2><i class='bx bx-building'></i> LOCATION
                    </h2>
                    <h3>Kaonga Extension,<br>Mazabuka,<br>Southern Province,<br>Zambia.</h3>
                </div>
            </div>
        </section>
    </main>
    <footer class="footer" id="footer">
        Copyright © 2024 Kasonde Besa
    </footer>
</body>