<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Link to main CSS file of webpage -->
    <link rel="stylesheet" href="../assets/css/main.css" type ="text/css">
    <!-- Link for usage of icons as css from boxicons.com-->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <!-- Title of Landing Page-->
    <title>Kasonde Besa | Education</title>

</head>
<body>
      <!-- Beginning of a header information-->
      <header class="header" id="header">
        <a href="../index.html" class="logo">Kasonde Besa.</a>
        <nav class="navbar">
            <a href="../index.html" class="active">Home</a>
            <a href="about.html">About</a>
            <a href="#">Projects</a>
            <a href="education.html">Education</a>
            <a href="contact.html">Contact</a>
        </nav>
    </header>
    <!-- End of Header information -->

    <main>
        <section class="contact">
                <div class="grid-child-element">
                    <h1>I'm An <b>ALUM</b> of <a href="https://www.oberlin.edu/"><b>Oberlin College</b></a>, An Extremely Proud <b>'Obie'</b>!<br><br></h1>
                    <p>While at Oberlin College OH, USA as an international student from Zambia, I had the chance to make meaningful cross-cultural relationships while adapting to the
                        nuances of a college education. I declared my major in Computer Science and engaged in a number of Programming activities including ICPCU competitions, technical projects with backend complexities and research
                        on privacy, anonymity and security with an AI twist to it.<br><br>
                        Other than sleeplesly coding myself to frustration, I was a part of the Bonner Scholars' Program, African Students Association, Chess Club and other societies that made college more than a 'debugging' experience for me.
                        Here are some of the qualifications I acquired from my ever so missed College journey:
                    </p>
                </div>
                <div class="grid-child-element-second">
                    <h1>DEGREE & EXTRACURRICULARS</h1>
                    <p><h3>I graduated as part of the <b>Class of 2022</b> with a Bachelor of Arts Degree in <b>Computer Science.</b><br></h3>
                        With the liberal arts perspective attached to the degree, this degree is augmenting my use of computer science in work related to general education and philosophical
                        norms, and psychology studies. My studies provided foundations in basics of data science, logic, theory and programming, philosophical implications of algorithms and digitization. I also learnt how to model problems with
                        respect to Artificial Intelligence algorithms and applying them to help enhance problem solving for data analyses and database management. Furthermore, I have worked on and I'm working on projects which include Web Development 
                        in Systems Programming, Data Analysis with respect to Privacy and Anonymity, Database management of database dependent web applications, and traditional algorithms in Artificial Intelligence.
                    </p>
                    <p><br><h4>NOTABLE COURSES:</h4>Database Management and Systems, Privacy, Anonymity and Social Networks, Airtificial Intelligence, Theory of Computation, Statistics, Mechanics & Relativity, Strange World Quantum Mechanics, Philisophy: The Nature of Value, Survey of Accounting. <br><br></p>
                    <p><h4>RESEARCH</h4>
The Effect of Experience in Computer Science on Password Management Habits and Password Manager Adoption at Oberlin College, Genetic Algorithms in Non-Deterministic Environment of Uno Card Game, Financial Ratio Analysis for Microsoft, HP and Apple.<br><br></p>
                    <p><h4>OBERLIN BONNER SCHOLARS:</h4>Through the Fraction Club made Math fun and understandable for 2nd and 3rd graders at Eastwood and Prospect Schools in Oberlin through fun and insightful activities, Reviewed Grants for Scholars working on projects requiring funding, Contributed to inventory stocking and accountability, food distribution activities and food allocation at Oberlin Community Services, Social Services
Worked with a retired, visually impaired Computer Programmer on activities from basic house needs like CD collection organization to more complex items like basic data sorting, augmenting and organization of music files and other data using computer software and smart phone applications. <br><br></p>
                </div>
        </section>
    </main>
    <footer class="footer" id="footer">
        Copyright © 2025 Kasonde Besa
    </footer>
</body>